.form-control{
	padding:10px 20px;
	border:1px solid #eee;
	border-radius:0;
	box-shadow:none;
	height:3em;
}

button[type="submit"]{

	background-color:$groen;
	padding:10px;
	color:white;
	border:2px solid $groen;
	border-radius:0;
}


button[type="submit"]:hover{

	background-color:white;
	padding:10px;
	color:$groen;
	border:2px solid $groen;
	border-radius:0;
}

textarea {
    height: 150px!important;
}