@import "_register.scss";

.account-info{
	border-left:1px solid #eee;
}

.account-info-list{
	min-height:120px;
}

.sidebar-link{
	padding:10px;
	text-transform: uppercase;
}

.sidebar-link a{
	color:$textgrijs;
}

.sidebar-link a:hover{
	color:$groen;
}

.sidebar-active a{
	color:$groen;
}

.account-info-list li{
	color:$textgrijs;
}

.account-edit h5{
	color:$groen;
}

// ACCOUNT ORDERS

.orders-list{
	position:relative;
	border-left: 5px solid #7db06b;
}

.orders-list-item{
	margin-bottom:10px;
	display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #eee;
    border-left:none;
    width:100%;
}

.order-item-body{
	display:flex;
	flex-direction:row;
	width:100%;
	justify-content: space-between;
	max-height:160px;
}

.order-item-info{
	display:flex;
	flex-direction:column;
	padding:10px;
	margin-right:auto;
	margin-left:5%;
}

.order-item-image{
	width:160px;
	height:auto;
	overflow:hidden;
}

.order-item-image img{
	margin: -75px 0 0 -240px;
}

.order-item-controls{
	padding:10px;
}

li.order-price {
    padding: 10px;
    background-color: $zachtblauw;
    color: white;
    position: absolute;
    font-size: 1.3em;
    top: 10px;
}